body {
	background-image: initial;
	padding: 0;
    margin: 0;
}

img {
	width: 100%;
    height: auto;
   	opacity: 0.6;

}

h1 {
	text-align: center;
	background-color: rgb(224, 179, 255); 
	color: white;
	font-variant: small-caps;
	font-family: sans-serif;
	font-size: 32px;
}

ul {
    text-align: right;
    font-style: bold;
    font-variant: small-caps;
    font-family: sans-serif;
}

#slogan {
	font-weight: bold ;
	font-family: sans-serif;
	position: absolute;
	left: 100px;
    top: 100px;
}

p{
	text-transform: lowercase;
	text-align: center;
	font-family: sans-serif;
}

div {
 	border-style: ridge;
 	border-color: red; 
 	position: absolute;
    left: 600px;
    top: 150px;
 }

a:link {
    color: grey;
    background-color: transparent;
    text-decoration: none;
    font-family: sans-serif;
}
a:hover {
    color: purple;
    background-color: transparent;
    font-size: 18px;
 }

 